.ticket {
  height: clamp(25vh, 400px, 80vh);
  width: clamp(25vh, 300px, 80vh);
  margin: auto;
  padding: 1rem;
  background-color: var(--color-600);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  animation: var(--animation);
}
/* Titles */
.important {
  font-size: var(--fs-600);
}
.important span {
  font-weight: 700;
  text-decoration: underline;
}

/* Button */
.button {
  padding: 1rem 1.5rem;
  background-color: var(--color-700);
  border-radius: 1rem;
  transition: 0.2s;
  min-width: 175px;
  text-align: center;
}
.button:hover {
  background-color: var(--color-750);
}
