.header {
    position: relative;
    width: 100vw;
    background-color: var(--color-800);
    height: 50px;
    color: var(--color-400);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

/* Container */
.buttonContainer {
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: var(--color-800);
    display: flex;
    align-items: center;
    justify-content: right;
}
/* MOBILE BUTTON */
.mobileButton {
    position: relative;
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mobileButton > * {
    height: 2px;
    background-color: var(--color-400);
    width: 100%;
    transition: .2s;
    transform-origin: right;
}
.mobileButton.open span:first-child {
    transform: rotate(-45deg);
}
.mobileButton.open span:nth-child(2) {
    transform: rotate(45deg);
}
.mobileButton.open span:last-child {
    position: absolute;
    bottom: 0;
    transform: rotate(45deg);
}

/* NAV */
.navContainer {
    z-index: 10;
    width: 100vw;
    position: absolute;
    padding: 1rem 0;
    background-color: var(--color-800);
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    transition: .2s;
}
.navContainer.open {
    transform: translateY(0);
}
/* NAV__LINKS */
.linksContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}
.linksContainer a {
    position: relative;
    z-index: 1;
}
.linksContainer a::after {
    content: '';
    position: absolute;
    background: var(--color-900);
    height: 8px;
    width: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: .2s linear;
}

.linksContainer a:hover::after {
    width: 100%;
}       
/* CAR */ 
.car {
    position: relative;
    z-index: 999;
    margin: 0 2rem;
}
.car i {
    color: var(--color-300);
    font-size: var(--fs-600);
}
.car span {
    min-width: 20px;
    text-align: center;
    font-size: 12px;
    color: black;
    position: absolute;
    top: -100%;
    right: -80%;
    transform: translate(0,50%);
    background: var(--color-600);
    border-radius: 100%;
    padding: .25rem;
}
/* MEDIAQUERIES */

@media screen  and (min-width: 768px) {
    .buttonContainer {
        display: none;
    }
    .navContainer {
        z-index: 0;
        padding: 0;
        position: static;
        width: fit-content;
        margin: auto;
        transform: translateY(0);
    }
    .linksContainer {
        flex-direction: row;
    }
}